.hearticon {
  box-shadow: 0px 0px 1px 1px #eee;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  margin-bottom: 4px;
  position: relative;
  left: 90%;
  padding: 1px;
  border: 1px solid #eee;
  height: 25px;
  display: grid;
  align-items: center;
  place-items: center;
}
.product:hover {
  box-shadow: 0px 0px 25px #c1c1c1;
  transition: 0.5s ease-in-out;
  z-index: 999;
}
/* .product:hover .hearticon{
    z-index: -1;
    position: inherit;
} */

.product:hover img {
  transform: rotate(360deg);
}

@media screen and (min-width:550px) and (max-width:768px){
  .hearticon{
    left: 80%;
  }
}
