.accordion_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:2%;
  padding-top: 2%;
  cursor: pointer;
}
.accordion_body {
  border-bottom: 2px solid #c1c1c1;
  cursor: pointer;
  margin-top: -2px;
}
.border_bottom {
  border-bottom: 1px solid #c1c1c1;
}
